<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ajouter Element</title>
    <link rel="stylesheet" type="text/css" href={{ static_url( "css/style.css") }} />
    <link rel="stylesheet" type="text/css" href={{ static_url( "node_modules/semantic-ui/dist/semantic.min.css") }} />
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>

    <script src={{ static_url( "js/jquery-1.8.3.js") }}></script>
    <script src={{ static_url( "js/jquery.flot.js") }}></script>
    <script src={{ static_url( "node_modules/semantic-ui/dist/semantic.min.js") }}></script>
    
</head>

<body>
    <div class="content">
    <!-------------HEADER------------>
        <div class="headerMarg">
            <header>
                <a href="/"><img src={{ static_url( "images/orika_logo.png") }} alt="logo entreprise" class="logo" /> </a>
                <h1>Liste des objectifs</h1> 
            </header>
        </div>
   
   <!-- message de succès Ajout Modification en modal-->
    <!-- <div class="ui small modal">
        <div class="header">
            <i class="massive thumbs outline up icon"></i>
            <label id="message" class="message" for="text"></label>
        </div>
    </div> -->
    <!--les messages d'erreurs Recherche Année-->
    <!-- <label id="dataError" class="obliAnnee" for="text"></label> -->
    <script src={{ static_url("node_modules/riot/riot.min.js") }}></script>
    <script src={{ static_url( "js/data-table.js") }}></script>
    <script src={{ static_url( "js/menu-tag.js") }}></script>
    <script src={{ static_url( "js/flot-chart.js") }}></script>
    
    
        <!--MENU-->
        <div class="menuStyle">
            <menu-tag></menu-tag>
        </div>
        <!-- CHARTES GRAPHIQUES -->
            <flot-chart></flot-chart>

        <!-- DATA TABLE -->
            <data-table></data-table>

        <!-- SCRIPT TO MOUNT TAGS -->
            <script>
                
                $.ajax({
                        url: '/home'
                        , type: 'GET'
                        , dataType : 'json'
                        , success: function (jsonResponse) {
                            var items = jsonResponse;
                            
                            riot.mount('data-table', {items: items });
                            riot.mount('menu-tag');
                            
                        
                            }
                        
                        , error: function () {
                            console.log("items error");
                        }
                    });
            </script>

    </div>
    
    
</body>

</html>