html {
    width: 100%;
    height: 100%;
}

.content{
    
    height: 100%;
    width: 96%;
    margin: 2% auto;
    font-family: 'Helvetica Neue Light', 'Open Sans', Helvetica;
    color: #262626;
    font-size: 12pt;
}

section {
    margin: 50px;
}


/***********HEADER***********/

header {
    display: flex;
    position: relative;
}

.headerMarg{
        margin-bottom: 6em;
}

header h1 {
    position: absolute;
    font-family: 'Helvetica Neue Light', 'Open Sans', Helvetica;
    font-size: 30pt;
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    top: 2em;
    right: 35%;
}

.titre {
    width: 100%;
    position: absolute;
    font-family: 'Helvetica Neue Light', 'Open Sans', Helvetica;
    font-size: 24pt;
    color: black;
    text-align: center;
    margin: 0 auto;
    font-weight: 300;
}

/*Orika Logo*/
.logo {
    width: 11em;
    height: 7em;
    padding-left: 2em;
    padding-top: 2em;
    
}


/*************DATA TABLE*************/

.widtInput{
    width: 100%;
}

/*No data found after search operation*/
.notFound{
    margin-top: 1em;
    text-align: center;
    font-family: Helvetica, 'Helvetica Neue Light', 'Open Sans';
    font-size: 30pt;
}

/*Succesful message display*/
.message{
    margin-left: 3em;
    font-family: Helvetica, 'Helvetica Neue Light', 'Open Sans';
    font-size: 16pt;
}

/*Annee error message display*/
.obliAnnee{
    font-family: Helvetica, 'Helvetica Neue Light', 'Open Sans';
    font-size: 13pt;
    color: #fe3e3e;
}

/*Error message container*/
.fieldWrapper{
    position: relative;
}

.errorMessage{
    position: absolute;
    left: 15%;
    color: white;
    background-color: #fa4242 ;
    box-shadow: 0px 0px 2px 0.3px #606060;
    width: 10em;
    height: 3em;
    text-align: center;
    border-radius: 6px;
    font-family: Helvetica, 'Helvetica Neue Light', 'Open Sans';
    font-size: 13pt;
    padding-top: 0.3em;
    margin-top: 0.2em;

}



/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

[contenteditable="true"] {
    background-color: #1f6056
}

[contenteditable="true"]:hover {
    background-color: white;
    color: #1f6056;
}

.part2 {
    display: flex;
    flex-direction: row;
    box-shadow: 0.3px 0.3px 3px 0.3px #656565;
    width: auto;
    height: 8em;
    margin: 1.6em 1em 2em 1em;
    
}

/*Search Menu*/
.alignRech {
    font-family: 'Helvetica Neue Light', 'Open Sans', Helvetica;
    margin-left: 3em;
    padding: 0.7em 0.5em 0.9em 0.5em;
    display: flex;
    flex-direction: row;
    position: relative;
}

.alignRech input {
    height: 16px;
    margin-left: 1em;
}

.alignRech input[type="number"] {
    height: 3.8em;
    width: 160px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
    margin-top: 1em;
}

.alignRech select {
    margin: 1em 0 0 0.5em;
    width: 12em;
    height: 2.9em;
    background-color:  #fcfcfc;
    border: 1px solid #d3d3d3;
    appearance:none;
    -moz-appearance:none;
    background: url(/static/images/downarrow.png) no-repeat right ;
    background-size: 2.5em;
}
.alignRech option {
    height: 2em;
    padding: 0.4em
}

.alignRech label {
    margin-left: 0.5em;
}

/*Add button*/
#myBtn {
    width: 3.4em;
    height: 2.9em;
    padding: 1.3em 0 0 20em;
}

.alignRech .mySearch {
    position: absolute;
    width: 2.4em;
    height: 2.4em;
    margin-top: 2em;
    top: 1em;
    right: -5em;
}

/*Edit and delete butons*/
.icone {
    width: 1.5em;
    height: 1.5em;
}

.saveDisabled {
    opacity: 0.5;
}

.iconeClose {
    width: 2em;
    height: 2em;
}

.iconeStats {
    margin: 0 0 -0.5em 0.5em;
    width: 3.5em;
    height: 3em;
}

.warning.sign{
    margin-left: 0.7em;
}

.width14{
    width: 14em;
}

.width8{
    width: 8em;
}

/*Even Odd*/

tr:nth-child(even) {background:  #fcfcfc }
tr:nth-child(odd) {background: #FFF}

/*CSS Graphe*/
.demo-container {
	box-sizing: border-box;
	width: 850px;
	height: 100%;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.demo-placeholder {
	width: 100%;
	height: 90%;
	font-size: 14px;
	line-height: 1.2em;
     margin-top: 2.8em;
}

#closeGraphes{
    float: right;
}

/*Riot parts*/

.autoComplete{
    position: relative;
}

.drop-menu{
    position: absolute;
    bottom : 0%;
    left: 0;
    top: 39px;

}

ul{
    border: 0 1px 1px 1px solid #F9FAFB;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
    background-color: #F9FAFB;
    width: 16.8em;
    padding: 0.7em;
    margin: 0;
}

li{
    list-style: none;
}

.item{
    position: absolute;
}

.menuStyle{
    margin-bottom: 5em;
}